.navbar {
    height: 250px;
    background-color: #d72631;
    padding: 0px 25%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    font-size: 4rem;
    color: white;
}