.area {
    background-color: white;
    color: black;
    margin-top: -25px;
    padding: 20px 30px;
    border-radius: 10px 10px 0 0;
    
    min-height: 50%;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}